<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ club.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/club.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uni.css')}}">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://i.ibb.co/YBxkyWP/Chrono.png">
</head>
<body>
    <div id="mobile-block-message" class="block-message">
        <p>Sorry, to open this page go to a Computer.</p>
      </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
  function checkScreenWidth() {
    var mainContent = document.getElementById('main-content');
    var blockMessage = document.getElementById('mobile-block-message');
    if (window.innerWidth < 768) { // You can set the width threshold as needed
      mainContent.style.display = 'none';
      blockMessage.style.display = 'block';
    } else {
      mainContent.style.display = 'block';
      blockMessage.style.display = 'none';
    }
  }

  // Check on initial load
  checkScreenWidth();

  // Check on window resize
  window.addEventListener('resize', checkScreenWidth);
});

    </script>
    <div class="booty">
        <nav class="navbar">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="float: left;">&times;</a>
                <div class="nbutton">
                    <a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt" style="color: rgba(0, 0, 0, 0.6);"></i>&nbsp; Dashboard</a>
                    <a href="{{ url_for('manage_tasks') }}"><i class="icon fas fa-tasks" style="color: rgba(0, 182, 182, 0.603);"></i>&nbsp; Tasks</a>
                    <a href="{{ url_for('clubs.list_clubs') }}"><i class="fas fa-users" style="color: rgba(179, 0, 0, 0.601);"></i>&nbsp; Club</a>
                    <a href="{{ url_for('league_leaderboard' , league_name=current_user.league) }}"><i class="fas fa-trophy" style="color: rgb(255, 230, 4);"></i>&nbsp; Leaderboard</a>
                    <a href="{{ url_for('resources') }}"><i class="fas fa-book" style="color: rgba(0, 0, 255, 0.607);"></i>&nbsp; Resources</a>
                    <p style="font-weight: 300; color: rgb(107, 105, 105); position: fixed; left: 2%; bottom: 2%; ">Chrono v0.13.7</p>
                </div>
            </div>  
              
              <div class="logo-container">
                <span style="float: left; font-size:30px;cursor:pointer; padding: 4px;" onclick="openNav()">&#9776 </span>
                <img src="https://i.ibb.co/YBxkyWP/Chrono.png" alt="Chrono Logo" style="float: left;"> <p style="color: black; float: left; font-weight: 550; margin-top: 15px;"> CHRON</p><p style="color: #8642f5;float: right; font-weight: 550; margin-top: 15px;">O</p>
              </div>
        
              <script>
              function openNav() {
                document.getElementById("mySidenav").style.width = "18.301610541727672035139092240117%";
                document.getElementById('overlay').style.display = 'block';
              }
              
              function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById('overlay').style.display = 'none';
              }
              </script>
        
            <div class="profile">
                <form class="searchu" action="{{ url_for('search.search_users') }}" method="GET">
                    <input class="findfriends" type="text" name="query" placeholder="Find Your Friends...">
                    <button class="findfrbtn" type="submit">Search</button>
                </form>
               <div class="click"> 
        <img src="{{ url_for('static', filename='uploads/' + current_user.profile_image) }}" alt="Profile Picture" class="profile-pic">
        <span class="profile-name">{{current_user.display_name or current_user.username}}</span>
        <div class="dropdown-menu">
            <img src="{{ url_for('static', filename='uploads/' + current_user.profile_image) }}" alt="Profile Picture" class="profile-p">
            <h1 class="profile-n">{{ current_user.display_name or current_user.username }}</h1>
            <p class="profile-n">Level {{ current_user.level }}</p>
            <a href="{{ url_for('dashboard') }}" style="float: left;"><i class="icon fas fa-home"></i> Dashboard</a>
            <a href="{{ url_for('profile', username=current_user.username) }}" style="float: left;"><i class="icon fas fa-user"></i> Profile</a>
            <a href="{{ url_for('settings') }}" style="float: left;"><i class="icon fas fa-cog"></i> Settings</a>
            <a href="#" style="float: left;"><i class="fas fa-lock"></i>&nbsp;Privacy Policy</a>
            <a href="{{ url_for('logout') }}" style="float: left;"><i class="icon fas fa-sign-out-alt"></i> Logout</a>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var profile = document.querySelector('.click');
                    var dropdown = document.querySelector('.dropdown-menu');
                
                    profile.addEventListener('click', function() {
                        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
                    });
                
                    // Close the dropdown if clicked outside
                    window.addEventListener('click', function(event) {
                        if (!profile.contains(event.target)) {
                            dropdown.style.display = 'none';
                        }
                    });
                });
                </script>
        </div>
            </div>
        </div>
        </nav>
    {% block content %}
    <div class="banner">
    
        <div class="dp">
            <i class="fas fa-shield-alt fa-10x"></i><br>
            <div class="club_name">
            <h1>{{ club.name }} - {% if imem == 1 %} 
                                  {{ imem }} Member
                                  {% else %}
                                  {{ imem }} Members
                                  {% endif %}</h1>
            <br>
            <p class="cdes">{{ club.description }}</p>
            <p class="ccreator">Created by: {{ club.creator.display_name or club.creator.username}}</p>
            </div>
            {% if current_user.club_id == club.id %}
                <form action="{{ url_for('clubs.leave_club') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="joinbtn" type="submit">Leave Club</button>
                </form>
            {% else %}
                <form action="{{ url_for('clubs.join_club', club_id=club.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="joinbtn" type="submit">Join Club</button>
                </form>

            {% endif %}
    {% endblock %}
        </div>
        <div class="members">    
            <h2><i class="fas fa-star"></i> Top Members</h2>
            <ul>
                {% for top6_member in top6_members %}
                    <li><img src="/static/uploads/{{ top6_member.profile_image }}" width="30px" height="30px">&nbsp;&nbsp;&nbsp; <p>{{ top6_member.display_name }}</p></li>
                {% else %}
                    <li>No members found in this club.</li>
                {% endfor %}
             </ul>   
        </div>
        <div class="events">
            <h2><i class="fa fa-flag"></i> Events</h2>
            <ul>
                {% for event in events %}
                    <li onclick="openevent()"><p>{{ event.title }}</p></li>
                    <script>
                        function openevent(){
                            document.getElementById('popevent').style.display = 'flex';
                        }
        
                        function closeevent(){
                            document.getElementById('popevent').style.display = 'none';
                        }
                    </script>
               <div class="popev" id="popevent">
                   <div id="announce" class="announce">
                       <button style="font-size: large; padding: 5px 10px;" onclick="closeevent()">&times;</button>
                       <h2>{{ event.title }}</h2>
                       <p>{{ event.description }}</p>
                       <h6>{{ event.date }}</h6>
                   </div>
               </div>
                {% else %}
                    <li>No events in this club.</li> 
                {% endfor %} 
                {% if current_user.id == club.creator_id and current_user.club_id == club.id %}
                <button class="events_button" onclick="openev()"><i class="fa fa-flag"></i> Set an event</button>
                {% endif %}
                <script>
                    function openev(){
                        document.getElementById('popev').style.display = 'flex';
                    }
    
                    function closeev(){
                        document.getElementById('popev').style.display = 'none';
                    }
                </script>
               <div class="popev" id="popev">
                   <div id="announce" class="announce">
                       <button style="font-size: large; padding: 5px 10px;" onclick="closeev()">&times;</button>
                       <h2>Set an Event</h2>
                       <form method="post" action="{{ url_for('clubs.events', club_id=club.id) }}">
                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                           <label for="title">Title:</label><br><br>
                           <input type="text" id="title" name="title" required placeholder="Title"><br><br>
                           <label for="description">Description:</label><br><br>
                           <textarea id="description" name="description" rows="4" cols="25" required placeholder="Type the infomation about the announce"></textarea><br><br>
                           <label for="Date">Date:</label><br><br>
                           <input type="date" id="date" name="date" required><br><br>
                           <button type="submit">Post</button><br>
                       </form>
                   </div>
               </div>
             </ul>  
             <br>
             <br>
        </div>
        <br>
        <br>
        {% if current_user.id == club.creator_id and current_user.club_id == club.id %}
        <div class="announcebtn">
            <hr>
            <h2><i class="fa fa-pencil-alt"></i> Post an Announcement</h2>
            <button onclick="openup()"><i class="fa fa-bullhorn"></i> Announce</button>
            <script>
                function openup(){
                    document.getElementById('popup').style.display = 'flex';
                }

                function closeup(){
                    document.getElementById('popup').style.display = 'none';
                }
            </script>
        </div>
        <div class="popup" id="popup">
            <div id="announce" class="announce">
                <button style="font-size: large; padding: 5px 10px;" onclick="closeup()">&times;</button>
                <h2>Post an Announcement</h2>
                <form method="post" action="{{ url_for('clubs.announce', club_id=club.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="title">Title:</label><br><br>
                    <input type="text" id="title" name="title" required placeholder="Title"><br><br>
                    <label for="content">Content:</label><br><br>
                    <textarea id="content" name="content" rows="4" cols="25" required placeholder="Type the infomation about the announce"></textarea><br>
                    <button type="submit">Post</button><br>
                </form>
            </div>
        </div>
        {% else %}
        <div class="announcebtn">
            <hr>
            <h2><i class="fa fa-bullhorn"></i> Announcements</h2>
            </div>
        {% endif %}
        <div class="announcements">
            {% if ian < 1 %}
            <h1>No Announcements Recieved.</h1>
            {% else %}
            {% for ans in anns %}  
            <div class="post">
                <b>{{ ans.title }}</b> <p>{{ ans.content }}</p>  <h6>{{ ans.date }}</h6>  <h6>{{ ans.announcer }}</h6>
            </div>     
            {% endfor %}   
            {% endif %} 
        </div>
    </div>
 </div>
</body>
</html>