.content {
    padding: 5% 25%;
}

.flwr {
    width: 75%;
    text-decoration: none;
    color: black;
    font-weight: 525;
    padding: 25px;
    background-color: rgb(194, 196, 202);
    border-radius: 10px;
}

.flwr:hover{
    background-color: #6b6b6b6d;
}

li {
    padding: 28px;
    list-style-type: none;
}

.findfriends1{
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    padding: 10px; 
    width: 75%;
    font-family: 'Montserrat', sans-serif;
  }
  .findfrbtn1{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
  }