.body { 
    margin: 0; 
    font-family: 'Montserrat', Arial, sans-serif;
 } 

.hero-section { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.377)), url('https://i.ibb.co/QjRSxxN/hero.png'); 
    height: 100%; 
    align-items: center; 
    padding: 50px; 
    max-height: max-content; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    width: 100%;
 } 

.hero-section .content { 
    max-width: 100%;
 } 

.hero-section .content h1 { 
    color: rgb(255, 255, 255); 
    font-size: 48px; 
    font-weight: bold; 
    text-align: left;
 } 

.hero-section .content p { 
    color: rgb(226, 226, 226); 
    width: 33%; 
    text-align: justify; 
    margin: 20px 0;
 } 

.hero-section .content .buttons { 
    display: flex; 
    gap: 20px;
 } 

.navbtns{ 
    float: right; 
    padding: 10px; 
    cursor: pointer; 
    vertical-align: middle; 
    position: fixed; 
    left: 83%; 
    background-color: white; 
    border-radius: 10px;
 } 

.btnhg { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-image: linear-gradient(45deg, rgb(255, 0, 255), rgb(0, 97, 177), rgb(119, 0, 255)); 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: white;
 } 

.btnhl { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: #eeeeee; 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: #b500fc;
 } 

.btnhg:hover { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: #8f66d1; 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: white;
 } 

.btnhl:hover { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: #cac7c7; 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: #b500fc;
 } 

.navbtn1 { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-image: linear-gradient(45deg, rgb(255, 0, 255), rgb(0, 97, 177), rgb(119, 0, 255)); 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: white;
 } 

.navbtn2 { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: #eeeeee; 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: #b500fc;
 } 

.navbtn1:hover { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: #8f66d1; 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: white;
 } 

.navbtn2:hover { 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: #cac7c7; 
    border-width: 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: #b500fc;
 } 

.features { 
    background-color: #e6c9ff; 
    /* lighter version of #8642f5 */ padding: 50px; 
    display: flex; 
    justify-content: space-between;
 } 

.features .feature { 
    width: 45%;
 } 

.features .feature h2 { 
    font-size: 24px;
 } 

.objective { 
    padding: 50px; 
    height: 500px;
 } 

.about-site { 
    padding: 50px; 
    background-color: rgba(143, 210, 255, 0.671); 
    height: 600px;
 } 

.about-developer { 
    padding: 50px;
 } 

.objective-l, .about-site-l, .about-developer-l { 
    padding: 50px; 
    width: 50%; 
    float: right;
 } 

.objective-r { 
    padding: 50px; 
    width: 50%; 
    float: right;
 } 

.about-site-r { 
    padding: 50px; 
    width: 50%; 
    float: right;
 } 

.about-developer-r { 
    padding: 50px; 
    width: 50%; 
    float: right;
 } 

.objective-l { 
    padding: 50px; 
    width: 50%; 
    float: left;
 } 

.about-site-l { 
    padding: 50px; 
    width: 50%; 
    float: left;
 } 

.about-developer-l { 
    padding: 50px; 
    width: 50%; 
    float: left;
 } 

.footer { 
    background-color: #f0f0f0; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    width: 100%;
 } 

.footer .column { 
    width: 30%; 
    padding: 3%;
 } 

.footer .column a { 
    display: block; 
    color: #8642f5; 
    margin: 5px 0; 
    text-decoration: none;
 } 

.footer .column a:hover { 
    color: #000;
 } 

.footer .column .dnt, .bmac{ 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 15px; 
    padding-right: 15px; 
    border-radius: 10px; 
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
 } 

.footer .column .dnt{ 
    background-image: linear-gradient(45deg, purple, blue); 
    color: white; 
    border-width: 0;
 } 

.footer .column .bmac{ 
    background-image: linear-gradient(45deg, rgb(11, 128, 0), rgb(0, 102, 255)); 
    color: white; 
    border-width: 0;
 } 

.copyright { 
    background-image: linear-gradient(45deg, purple, rgb(0, 102, 255)); 
    text-align: center; 
    color: rgb(255, 255, 255); 
    border-width: 0; 
    padding: 40px;
    width: 100%;
 } 
 @media screen and (max-width: 1098px){ 
    .body{ 
    display: none
 }
 } 
 @media screen and (max-width: 1338px) { 
    .navbtns{ 
    display: none;
 }
 }
