<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleslg.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://i.ibb.co/YBxkyWP/Chrono.png">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="left-column">
            <div class="logo-container">
                <img src="https://i.ibb.co/YBxkyWP/Chrono.png" alt="Web Chrono Logo" width="150">
            </div>
            <h2>Welcome to Web Chrono</h2>
            <p>Please sign in to continue</p>
        </div>
        <div class="right-column">
            <form action="/login" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Login">
                <p>Don't have an account? <a href="/register" style="background-image: linear-gradient(45deg, rgb(255, 0, 255), rgb(0, 97, 177), rgb(119, 0, 255)); background-clip: text; -webkit-text-fill-color: transparent; text-align: center; font-weight: 550;">Create a Account</a></p>
            </form>
        </div>
    </div>
</body>
</html>
